.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color:white;
    font-size:50px;
  }
  *{
    background-color: black;
  }
  h1{
    font-size:3rem;
  }
  #c{
    width : 50%;
    margin-top :100px;
    margin-down:200px;
    margin-left :25%;
    color : white;
    text-align: center;
    font-size:2rem; 

  }
  .i{
    width : 100%;
    border : 5px solid white;
  }


